.adminDashboard{
    background-color: #e6e7e9;
    display: flex;
    gap: 20px;
    color : white;
    border-top: 2px solid var(--cherryRed);
}

.sideMenuContainer{
    width: 15%;
    padding: 20px;
    background-color: var(--darkBlue);
    border-right: 2px solid var(--cherryRed);
}

.adminChartContainer{
    width: 85%;
    margin-right: 23px;
    margin-top: 50px;
    height: 100vh;
}



