
.maincontainer{
    display:flex;
    width:100%;
    padding:20px;
  }
  .fullContainer{
      width:70%;
      margin: 0 auto;
      padding:0 20px 0 20px;
      /* border:2px solid black; */
  }
  .mainheader{
      padding:20px 0 10px 0;
      font-size: 2rem;
  }
  .headerpar{
      font-size: 24px;
      width:100%;
      line-height:30px;
      /* padding-top:10px; */
  }
  .searchlogo {
      display: flex;
      /* gap: 30px; */
      width: 100%;
      padding:30px 0 30px 0;
    }
    
    .iconMap {
      font-size: 37px;
      margin: 0 50px 0 0;
      color: #333;
    }
    
    .searchlogo select {
      font-size: 16px;
      height:36px;
      width:600px;
      border:2px solid #757575;
      padding:20px 20px 20px 8px;
    }
    .searchlogo select option{
      font-size:20px;
    }
    .leftside{
      background-color:#757575;
      width:28%;
      align-item:center;
      justify-content:center;
      height:500px;
      margin:0 50px 0 20px;
      /* padding:0 20px 0 20px; */
    }
    .pricing-container{
      margin:30px 10px 20px 0;
    }
    .pricing-card{
      height:auto;
      display:flex;
      border:2px solid black;
      padding: 0 0 0 20px;
  
    }
    .card-content{
      width:75%;
      padding: 0 0 10px 0;
    }
    .cardheader{
      font-size:1.85rem;
      padding: 10px 0 10px 0;
    }
    .cardParagraph{
      font-size:1.5rem;
      padding: 0 0 20px 0;
    }
    .card-content ul{
      padding:0 0 0 20px;
      list-style-type:disc;
    }
    .card-content ul li{
      font-size:1.4rem;
      padding:0 0 10px 0;
    }
    .FQA{
      text-align:right;
      padding:0 40px 0 0;
      font-size:1.25rem;
      
    }
    .FQAIcon{
      padding: 0 0 0 10px;
  
    }
    .pricing{
      width:25%;
      background-color:#A0DBFB;
      padding:30px 30px 15px 30px;
      text-align:center;
    }
    .PricingParagraph{
      font-size:1.65rem;
    }
    .pricing h3{
      font-size:4.5rem;
      padding:10px 0 10px 0;
    }
    .buttomParagraph{
      font-size:1.4rem;
  
    }
    .select-button{
      margin:15px 0 2px 0;
      padding:10px;
      background-color:#DA5072;
      border: 2px solid #D1344F;
      font-weight:bold;
      font-size:1.7rem;
      color:white;
      width:80%;
      height:25%;
      border-radius:8px;
    }
    @media(max-width:768px){
      .maincontainer{
        display:block;
      }
      .fullContainer{
        width:100%;
    }
    .mainheader, .cardheader{
      font-size: 1.5rem;
    }
    .headerpar, .cardParagraph{
      font-size: 20px;
    }
    .leftside{
      width:100%;
    }
    .pricing-container{
      margin:30px 20px 20px 0;
    }
    .pricing-card{
      display:block;
      padding: 0 10% 0 10px;
  
    }
    .card-content{
      width:100%;
    }
    .pricing{
      width:100%;
      margin: 0 0 10px 0;
    }
    .searchlogo span{
      width:100%;
    }
    .searchlogo select {
      width:90%;
    }
    }
    @media(max-width:1000px) and (min-width:768px){
      .maincontainer{
        display:block;
        padding: 0 20px 0 20px;
      }
      .fullContainer{
        width:100%;
    }
    .leftside{
      width:100%;
    }
    }
    @media(max-width:600px){
      .pricing{
        width:95%;
      }
    }